#snake {
  width: 480px;
  margin: 200px auto;
  /*-webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;*/
}


@-webkit-keyframes mymove {
  50% {box-shadow: 10px 20px 30px blue;}
}

@keyframes mymove {
  50% {box-shadow: 10px 20px 30px blue;}
}

.row {

}

.col {
  width: 10px;
  height: 10px;
  float: left;
  background-color: whitesmoke;
  border: 1px solid grey;
}

.snake-segment {
  background-color: cyan;
}
